/*borderstylecolour*/
h1{
    border: 10px solid red;
    border-width: green;
}
h2{
    border: 10px solid yellow;  
    border-top-padding:purple
}
h3{
    border: 10px solid green;
    border-rigth-padding: green;
}
h4{
    border: 10px solid black;
    border-bottom-padding: pink
}
h5{
    border: 10px solid violet;
    border-left-padding4043:aquamarine;
} 
