/*borderwidth*/
h1{
    border: 10px solid red;
    border-width: 15px;
}
h2{
    border: 10px solid yellow;
    border-top width: 15px;
}
h3{
    border: 10px solid green;
    border-rigth width: 15px;
}
h4{
    border: 10px solid black;
    border-bottom width: 15px;
}
h5{
    border: 10px solid violet;
    border-left width: 15px;
} 
   